.hidden {
  display: none;
}

body {
  margin: 0;
}

p,
button,
label {
  color: #022b3a;
  font-family: 'Open Sans', sans-serif;
}

p,
label {
  font-size: 0.8rem;
}

button {
  border: none;
  cursor: pointer;
  background-color: #bfdbf7;
  transition: 0.2s;
}

button:hover {
  color: #e1e5f2;
  background-color: #1f7a8c;
  transition: 0.2s;
}

nav {
  padding: 0 2rem 0 2rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Proza Libre', sans-serif;
  background-color: #022b3a;
  color: #bfdbf7;
}

.page-container {
  max-width: 1000px;
  margin: auto;
  background-color: #e1e5f2;
  min-height: 100vh;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 2rem;
  width: 70%;
  border-radius: 10px;
  background-color: #fff;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 25%));
}

.input-box {
  width: 100%;
  height: 1.5rem;
  border-radius: 5px;
  background-color: #e1e5f2;
  border: none;
  text-align: center;
}

.drop-zone {
  height: 5rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  cursor: pointer;
}

.recipient-section {
  margin: 1rem 0;
  align-items: center;
}

.date-section,
.time-section {
  display: flex;
  align-items: center;
}

.date-time-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.date-section {
  width: 100%;
}

.time-section {
  width: 100%;
  padding-top: 1rem;
}

.pad-right {
  padding-right: 1rem;
}

.submit-button {
  margin: 4rem;
  width: 8rem;
  height: 2rem;
  border-radius: 10px;
  font-size: 1rem;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 25%));
}

.green-text {
  color: darkgreen;
}

.row {
  width: 100%;
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

@supports ( width: 50%) {
  @media screen and (min-width: 550px) {
    .date-section,
    .time-section {
      width: 48%;
    }

    .time-section {
      padding-top: 0;
    }

    .unwrap-if-large {
      flex-wrap: nowrap;
    }
  }
}
